{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/listado.css' %}">
</head>

{% if user.tipo == 'Administrador' or user.tipo == 'Recursos_Humanos' %}
  <center><a href="{% url 'nuevo_prod' %}"><img src="https://image.flaticon.com/icons/svg/1907/1907592.svg" style="width: 60px;"></a></center>
{% endif %}

  
  <body>
      <input class="hs" type="text" id="myInput" onkeyup="myFunction()" placeholder="Modelo: EJ(XXNNN)" title="">
      <table id="myTable">
        <div  class="cajas hm">Modelo | | Codigo | | Precio | | Estado</div>
        {% for post in posts %}
          <tr>
          <td>
            {% if post.estado == 'DISPONIBLE' %}
            <a href="{% url 'compra' pk=post.pk %}">
              <div class="cajass">
                  {{ post.modelo }} - 00{{ post.pk }} - {{ post.modelo.precio }} - {{ post.estado }}
                <br>
              </div>
              <br>
            </a>
            {% elif post.estado == 'NO DISPONIBLE' %}
              <div class="cajass" style="color: brown;">
                  {{ post.modelo }} - 00{{ post.pk }} - {{ post.modelo.precio }} - {{ post.estado }}
                <br>
              </div>
              <br>
            {% endif %}
          </td>
          </tr> 
          {% endfor %}
        </table>


<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
</script>


{% endblock %}